* linguist-vendored
*.bas linguist-vendored=false
*.frm linguist-vendored=false
*.frx linguist-vendored=false
*.scc linguist-vendored=false
*.vbp linguist-vendored=false
*.vbw linguist-vendored=false
